@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: none; }

@font-face {
  font-family: 'FontAwesome';
  src: url("./fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("./fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato.ttf"); }
@font-face {
  font-family: 'lato-tin';
  src: url("../fonts/lato-tin.ttf"); }
@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Light.ttf"); }
@font-face {
  font-family: 'opensans-bold';
  src: url("../fonts/OpenSans-Regular.ttf"); }
html, body, span, applet, div, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, pre, abbr, acronym, address, big, cite, code, nav, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "opensans"; }

body {
  font-family: "opensans"; }

a {
  color: #313131;
  text-decoration: none; }
  a:hover {
    color: #e84c3d;
    text-decoration: none; }

b {
  font-family: "opensans-bold"; }

.btn-standart {
  padding: 5px 20px;
  background: #e84c3d;
  color: #ecf0f1; }
  .btn-standart:hover {
    color: #ecf0f1; }

.btn-ghost {
  padding: 5px 20px;
  border: 1px solid #e84c3d;
  color: #e84c3d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-ghost:hover {
    background: rgba(255, 255, 255, 0.4); }

.secone {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.secone-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 3;
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .secone-login .secone-login-box {
    display: block;
    text-align: center; }
    .secone-login .secone-login-box h1 {
      font-size: 70px;
      color: #e84c3d; }

.secone-regis {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  background: white;
  z-index: 3;
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .secone-regis .secone-regis-box {
    display: block;
    text-align: center;
    padding: 50px; }
    .secone-regis .secone-regis-box input[type="file"] {
      padding: 20px 0px; }
    .secone-regis .secone-regis-box h1 {
      font-size: 70px;
      color: #e84c3d; }

.secone-login-open {
  transform: scale(1); }

.secone-box {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  z-index: 2; }
  .secone-box h1 {
    font-size: 50px; }
  .secone-box a {
    margin: 0 5px; }

.secone-regis-open {
  transform: scale(1); }

.secone-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-image: url("../img/SMAKEREN.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; }

.testelement {
  text-align: center; }

input[type="text"], input[type="date"], input[type="number"], input[type="password"], input[type="email"] {
  border: none;
  outline: none;
  display: inline-block;
  border-bottom: 1px solid #e84c3d;
  padding: 5px 10px;
  margin: 10px 0px;
  width: 300px; }

input[type="submit"] {
  float: right;
  background: #e84c3d;
  border: none;
  color: #ecf0f1;
  padding: 5px 10px; }

input[type="text"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: #e84c3d; }

header {
  width: 200px;
  height: 100%;
  position: fixed;
  background: #e84c3d; }
  header .logo {
    margin-right: 20px;
    border-bottom: 1px solid #ecf0f1;
    color: #ecf0f1;
    font-size: 30px;
    padding: 5px 15px; }
    header .logo img {
      margin: 0 auto;
      display: block; }
  header nav {
    color: #ecf0f1;
    margin: 20px 0px 40px 0px; }
    header nav ul li a {
      color: #ecf0f1;
      margin: 0;
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      background: #e04434;
      display: block;
      border-bottom: 1px solid #e84c3d;
      border-top: 1px solid #e84c3d; }
      header nav ul li a:hover {
        background: #cf3b2c;
        color: #ecf0f1; }

main {
  margin-left: 200px;
  padding: 20px; }
  main .main-head {
    padding: 0px 20px; }
  main .row {
    padding: 20px; }

.main-status {
  width: 100%;
  height: 100%;
  text-align: center; }
  .main-status h2 {
    font-size: 70px; }
  .main-status h3 {
    font-size: 120px;
    color: #e84c3d; }
  .main-status .transcript-nilai {
    width: 40%;
    margin: 10px auto; }

.table-responsive .table thead tr th {
  border-bottom: none; }
.table-responsive .table tbody tr {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .table-responsive .table tbody tr:hover {
    font-size: 20px; }
  .table-responsive .table tbody tr:last-child {
    font-size: 20px;
    border-top: 1px solid #e84c3d; }
    .table-responsive .table tbody tr:last-child td:last-child {
      font-family: "opensans-bold";
      color: #e84c3d; }
  .table-responsive .table tbody tr td {
    border-top: none; }

/*# sourceMappingURL=unemi.css.map */
